<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decision Maker</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="utf-8">

   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.css"> -->
   <!-- path for localhost:8080 -->
   <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen"> -->
   <link rel="stylesheet" href="/css/main.css" media="screen">
   <!-- <link rel="stylesheet" href="/css/timepicki.css" media="screen"> -->
   <!-- for local test only -->
   <!-- <link rel="stylesheet" href="../public/css/bootstrap.min.css" media="screen"> -->
   <link rel="stylesheet" href="../public/css/main.css" media="screen">
   <!-- <link rel="stylesheet" href="../public/css/timepicki.css" media="screen"> -->
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
  </div>


  <div class="jumbotron under-navbar">
    <div class="container">
      <h1>Decision Maker</h1>
      <p>This is a decision maker to help a group to decide things.</p>
  </div>
</div>
<div class="container">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="forms">Create your new poll</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <form class="create-decision-form form-horizontal" action="/polls" method="POST">

            <fieldset>
              <legend>Please enter your basic infomation</legend>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-6">
                  <input type="email" class="form-control decision-admin-email" id="inputEmail" placeholder="Please enter your e-mail">
                  <span class="decision-email-validation flash-message"></span>
                </div>
              </div>
              <div class="form-group">
                <label for="ownerName" class="col-lg-2 control-label">Name (optional)</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control decision-admin-name" maxlength="255" id="ownerName" placeholder="First Name">
                </div>
              </div>
              <div class="form-group">
                <label for="pollSubject" class="col-lg-2 control-label">Subject</label>
                <div class="col-lg-6">

                  <input type="text" class="form-control decision-title" maxlength="255" placeholder="What is this poll for?">
                  <span class="decision-title-validation flash-message"></span>
                </div>
              </div>
              <!-- Date / time picker options -->
              <div class="form-group">
                <label for="decision-time" class="col-lg-2 control-label">End Time</label>
                <div class="col-lg-6">
                  <input type="number" min="1" max='999' value="3" class="form-control decision-time" id="endtime" maxlength="3" placeholder="Please enter the number of minutes you want">
                  <span class="decision-time-validation flash-message"></span>
                </div>
              </div>

              <!-- input options -->
              <legend>Please enter all the options</legend>

              <div class="form-group">
                <label class="col-lg-2 control-label" for="inputDefault">Option</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control option-title" maxlength="255" placeholder= "Enter your option here">
                  <span class="option-title-validation flash-message"></span>
                  <input type="text" class="form-control option-description" maxlength="255" placeholder= "description(optional)">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label" for="inputDefault">Option</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control option-title" maxlength="255" placeholder= "Enter your option here">
                  <div>
                    <span class="option-title-validation flash-message"></span>
                  </div>
                  <input type="text" class="form-control option-description" maxlength="255" placeholder= "description(optional)">
                </div>
              </div>

              <div class="addition-option">
              </div>

              <div class="form-group">
                <div class="col-lg-6">
                  <div class="more_button">
                      <button type="button" class="btn tn btn-primary add-option-button">Need more options?</button>
                  </div>
                </div>
              </div>



              <!-- input voter email -->
              <legend>Who you want to invite to this vote?</legend>
              <div class="form-group">
                <label class="col-lg-2 control-label" for="voterEmail">Voter</label>
                <div class="col-lg-6">
                  <input type="email" class="form-control voter-email" maxlength="255" placeholder= "Enter voter's email">
                  <span class="voter-email-validation flash-message"></span>
                  <input type="text" class="form-control voter-name" maxlength="255" placeholder= "Enter voter's name(optional)">
                </div>
              </div>

              <div class="addition-voter">
              </div>
              <!-- <div class="form-group">
                <label class="col-lg-2 control-label" for="voterEmail">Voter</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control voter-email" placeholder= "Enter voter's email">
                  <button type="button" class="btn btn-link delete-voter-button">Remove</button>
                  <span class="voter-email-validation"></span>
                </div>
              </div> -->

              <div class="form-group">
                <div class="col-lg-10">
                  <button type="button" class="btn tn btn-primary add-voter-button">invite more</button>
                </div>
              </div>

              <!-- input message to voter -->
              <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Message (optional)</label>
                <div class="col-lg-10">
                  <textarea class="form-control decision-message" maxlength="255" rows="3" id="textArea"></textarea>
                  <span class="help-block">Any thing you might want to inculde in the email that send to voters</span> </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12">
                      <p>
                        <button type="submit" class="btn btn-default btn-lg btn-block submit-poll-button">Submit</button>
                      </p>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<!-- path for localhost:8080 -->
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/respond.min.js"></script>
<script type="text/javascript" src="/scripts/create-decision.js"></script>
<script type="text/javascript" src="/scripts/holder.js"></script>
<script type="text/javascript" src="/scripts/addMore.js"></script>


<!-- for local test only -->
<script type="text/javascript" src="../public/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/scripts/respond.min.js"></script>
<script type="text/javascript" src="../public/scripts/create-decision.js"></script>
<script type="text/javascript" src="../public/scripts/holder.js"></script>
<script type="text/javascript" src="../public/scripts/addMore.js"></script>


</body>
</html>
