<!DOCTYPE html>
<html lang="en">
<head>
<title>Decision Maker - result</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="/css/main.css" media="screen">

<body>
  <div class="navbar navbar-default navbar-fixed-top">
  </div>
<script> var adminURL = '<%= admin_url %>'; </script>

<div class="jumbotron under-navbar">
  <div class="container">
    <h1>Decision Maker</h1>
    <p>This poll is created by:</p>
      <span class="decision-admin-name-display">decision-admin-name-display</span>
      <span class="decision-admin-email-display">decision-admin-email-display</span>
  </div>
</div>

<!-- Countdown Clock -->
<div class="container countdown-clock">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h1>Remaining Time:</h1>
          <div id="clockdiv">
            <div>
              <span class="days"></span>
              <div class="smalltext">Days</div>
            </div>
            <div>
              <span class="hours"></span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span class="minutes"></span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="seconds"></span>
              <div class="smalltext">Seconds</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <h2>Poll Title</h2>
      </div>
    </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">

          <h3 class="panel-title decision-title-display">decision-title-display</h3>
        </div>
        <div class="panel-body decision-message-display">
          <p>decision-message-display</p>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="progress">Vote Status</h1>
          <!-- vote count -->
          <!-- <ul class="nav nav-pills">
            <li class="active"><a href="#progress">Voted :  <span class="badge voter-count"></span></a></li>
          </ul> -->
        </div>
        <div class="options" id="resultWrapper">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>


</div>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/respond.min.js"></script>
<script src="/scripts/holder.js"></script>
<script src="/scripts/poll-status.js"></script>
<!-- <for local test only> -->
<!-- <script src="../public/scripts/bootstrap.min.js"></script>
<script src="../public/scripts/respond.min.js"></script>
<script src="../public/scripts/holder.js"></script>
<script src="../public/scripts/poll-status.js"></script> -->
</body>
</html>
