<!DOCTYPE html>
<html lang="en">
<head>
<title>Decision Maker - vote page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<!-- localhost:8080 -->
<link rel="stylesheet" href="/css/main.css" media="screen">


</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
  </div>


 <script> var voterURL = '<%= voter_url %>'; </script>


  <div class="jumbotron under-navbar">
    <div class="container">
      <h1>Decision Maker</h1>
      <p>This invitation sent from</p>
      <p>
      <span class="decision-admin-name-display"></span>
      </p>
      <div>
      <span class="decision-admin-email-display"></span>
      <p class="countdown-time"></p>
      </div>

    </div>
  </div>




  <!-- Countdown Clock -->
  <div class="container countdown-clock">
   <div class="bs-docs-section">
     <div class="row">
       <div class="col-lg-12">
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <h1 class="countdown-h1">Remaining Time:</h1>
           <div id="clockdiv">
             <div>
               <span class="days"></span>
               <div class="smalltext">Days</div>
             </div>
             <div>
               <span class="hours"></span>
               <div class="smalltext">Hours</div>
             </div>
             <div>
               <span class="minutes"></span>
               <div class="smalltext">Minutes</div>
             </div>
             <div>
               <span class="seconds"></span>
               <div class="smalltext">Seconds</div>
             </div>
           </div>
         </div>
        </div>
      </div>
    </div>
 </div>


<!-- vote message -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Poll Title</h2>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title decision-title-display"></h3>
          </div>
          <div class="panel-body">
            <h5 class="decision-message-display"></h5>
          </div>
        </div>
      </div>
  </div>

<!-- vote options - sortable -->

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <h2>Options</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <ul class="list-group " id="sortable">
          </ul>
      </div>
    </div>
    <br />
    <br />
    <div class="col-lg-12">
      <p>
        <button type="submit" class="btn btn-default btn-lg btn-block submit-vote-button">Submit</button>
      </p>
    </div>
  </div>
    <br />
    <br />
</div>
<br />
<br />
<br />
<br />

<!-- ref -->

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- path for localhost:8080 -->
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/respond.min.js"></script>
<script src="/scripts/holder.js"></script>
<script src="/scripts/addMore.js" type="text/javascript" ></script>
<script src="/scripts/poll-vote.js"></script>


</body>
</html>
